/* Navbar.css */

.navbar-content {
  padding: 10px;
  color: rgb(85, 86, 89); /* Updated text color for better readability */
  font-size: 18px;

  line-height: 24px;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  list-style: none;
  display: flex;
  margin: 0;
}

.menu-item {
  position: relative;
  margin: 10px 20px;
  padding-bottom: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.menu-item:hover::before {
  width: 100%;
  background-color: #508f31; /* Color on hover */
}

.sub-menu {
  display: none;
  position: absolute;
  /* top: calc(100% + 50px);  */
  left: 0;
  /* background: rgba(255, 255, 255, 0.6); */
  list-style: none;
  padding: 10px;
  width: 335px; /* Adjust width as needed */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  z-index: 9999;
}
.sub-menu-wrapper {
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 30px 10px 10px 10px;
  margin: 50px 10px 10px 10px;
}
.sub-menu-link {
  text-decoration: none;
  color: #333;
  font-size: 1.125rem;

  text-decoration: none;
  width: 100%;
}
.blue-hamburger {
  color: #005da5 !important;
}
.navbar-toggler-icon {
  color: #005da5;
}
.menu-item:hover .sub-menu {
  display: block; /* Display the submenu when the menu item is hovered */
}

.sub-menu-item {
  margin: 16px 0;
  padding: 5px 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.sub-menu-item:hover {
  background-color: #d3d3d3; /* Background color on hover */
}

.btn-nav {
  background-color: #005da5;
  padding: 10px 15px;
  color: #fff; /* Button text color */
}
.nav-logo {
  height: 63px;
}
.menu-container {
  display: flex;
  flex-direction: column;
}

/* Mobile menu styles */
@media only screen and (max-width: 768px) {
  .menu-list {
    display: flex;
    flex-direction: column;

    padding: 0;
  }

  .menu-item {
    margin: 10px 0;
  }

  .sub-menu {
    position: static;
    width: 100%;
  }

  .sub-menu-item {
    margin: 8px 0;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .sub-menu-wrapper {
    background-color: white;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
  .nav-logo {
    height: 48px;
  }
  .btn-btn {
    font-size: 10px;
    padding: 8px;
  }
}
