.img-lines {
  float: left;
  width: 26rem;
}
.text_img {
  left: 18rem;
  top: 2rem;
  margin-top: 2rem;
  color: #005da5;
}
.text-loan {
  color: #555659;
}
.ban-text {
  font-weight: 600;
  margin-left: 8px;
}
