.img-banner {
  width: 100%;
}
.text_img,
.banner-btn {
  color: #005da5;
}
.text-loan {
  color: #555659;
}
.ban-text {
  font-weight: 600;
  margin-left: 8px;
}
.bannerHeaderline {
  margin-left: 4px;
}
.banner-footer-text {
  color: #8f8f8f;
}
.banner-btn {
  background-color: #005da5;
  padding: 10px 15px;
  color: #fff; /* Button text color */
}
