.review-container {
  background-color: hsla(82, 45%, 85%, 0.5);
}
.rating-star {
  margin: 12px 0;
}
.review-card-head {
  min-height: 380px;
}
.image-rating {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}
.card-review {
  padding: 55px 35px 70px;
}

.image-women-center {
  text-align: center;
}

button.rec-dot {
  display: none;
}

.rec.rec-arrow {
  background-color: transparent !important;
  color: black !important;
  border: none;
}

.rec.rec-arrow:hover {
  background-color: transparent !important;
  color: black !important;
}

.rec.rec-arrow:disabled {
  color: gray !important;
}

.card-body-text {
  color: #333;
}
.review-row {
  padding-top: 96px;
}
@media only screen and (min-width: 992px) {
  .carousal-card {
    margin-left: 5rem;
  }
  .image-women-sm {
    display: none;
  }
  .image-women {
    display: block;
  }
}
@media only screen and (min-width: 578px) and (max-width: 991px) {
  .review-container {
    padding-top: 65px;
  }
  .sm-device {
    display: none;
  }
  .all-device {
    display: block;
  }
  .image-women {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .sm-device {
    display: block;
  }
  .all-device {
    display: none;
  }
  .review-container {
    padding: 24px 24px 0 24px;
  }
  .image-women {
    display: none;
  }
}
