.review-container {
  background-color: hsla(82, 45%, 85%, 0.5);
}

.review-card-head {
  min-height: 300px;
}
.image-rating {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.image-women {
  max-width: 100%;
}

button.rec-dot {
  display: none;
}

.rec.rec-arrow {
  background-color: transparent !important;
  color: black !important;
  border: none;
}

.rec.rec-arrow:hover {
  background-color: transparent !important;
  color: black !important;
}

.rec.rec-arrow:disabled {
  color: gray !important;
}

.card-body-text {
  color: #333;
}
@media only screen and (min-width: 578px) {
  .review-container {
    padding-top: 65px;
  }
  .sm-device {
    display: none;
  }
  .all-device {
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  .sm-device {
    display: block;
  }
  .all-device {
    display: none;
  }
  .review-container {
    padding: 24px 24px 0 24px;
  }
}
