.review-container {
  background-color: hsla(82, 45%, 85%, 0.5);
  padding-top: 5rem;
  height: 40rem;
}
.card-review {
  padding: 55px 35px 70px !important;
  height: 22rem;
  /* width: 21rem; */
}

.image-rating {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.image-women {
  height: 35rem;
  width: 19rem;
  position: absolute;
  left: 16rem;
  padding-top: 3rem;
}

button.rec-dot {
  display: none;
}

.rec.rec-arrow {
  background-color: transparent !important;
  color: black !important;
  border: none;
}

.rec.rec-arrow:hover {
  background-color: transparent !important;
  color: black !important;
}

.rec.rec-arrow:disabled {
  color: gray !important;
}
.image-logo {
  margin-left: 16rem;
  margin-top: 2rem;
}

.card-body-text {
  color: #333;
}
@media only screen and (min-width: 1440px) {
 .image-women {
  height: 35rem;
  width: 19rem;
  position: absolute;
  left: 4rem;
  padding-top: 3rem;
}
}
@media only screen and (min-width: 375px) {
 .image-women {
  height: 35rem;
  width: 19rem;
  position: absolute;
  left: 4rem;
  padding-top: 3rem;
}
}
