.paddedContainer {
  padding-top: 45px;
}
.foot-cont {
  background-color: #e7e7e7;
}
.list-style {
  list-style: none;
}
.menu-li-list {
  color: #005da5;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}
.sub-list {
  color: #555659;
  list-style: none;
}
.goeasyLogo {
  height: 64px;
  width: fit-content;
}
.easyContent {
  color: #005da5;

  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 576px) {
  .footerLink {
    display: none;
  }
}
