.text_img {
  left: 10rem;
}
.img-lines {
  float: left;
  width: 26rem;
}
.card-prop {
  width: 22rem !important;
}
.card-row {
  padding: 3rem;
}
.card-body-text {
  margin-bottom: 3rem;
}
.review-container {
  background-color: hsla(82, 45%, 85%, 0.5);
}
.card-review {
  padding: 48px 30px !important;
  height: 25rem;
}
.rating-star {
  margin-bottom: 20px;
}
.image-rating {
  height: 30px;
  width: 30px;
  margin-right: 8px;
}
.image-rating1 {
  height: 15rem;
  width: 18rem !important;
}
.carousal-data {
  display: flex !important;
}
.image-women {
  height: 29rem;
  width: 16rem;
  position: absolute;
  left: 5rem;
  padding-top: 4rem;
}
.card-carosel {
  width: 18rem;
}
